# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# cmake files
*.cmake

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.a
*.lib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.so
*.dll

# Executables
*.out
*.app
build
.vscode
.vscode
