# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la


# Executables
*.exe
*.out
*.app
include/glad
include/glad/glad.h
include/KHR
include/KHR/khrplatform.h
lib/libglad.a
.vscode/c_cpp_properties.json
